.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .autocomplete-methods {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: .5rem;
    }
}